.input-text {
	text-align: right;
}
.item.goods.active {
    border-color: #ccc !important;
    background-color: #2D78FF !important;
    color: #eee;
}
.nutrition-header {
    border-color: #ccc !important;
    background-color: #D9D9D9 !important;
}