<ion-header>
  <ion-toolbar>
	<ion-buttons class="hover" slot="start" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        前一步
	</ion-buttons>
    <ion-title>輸入營養品</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="test" padding>
    <ion-card>
      <img class="img-card" src="assets/img/welcome2.jpg" />
      <ion-card-content>
        <ion-card-title>
          自我評估小幫手 - 第二步
          </ion-card-title>
        <p>
          再來，我們需要您正在服用的營養品詳細內容。加油！剩這一小步就完成了！
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list>
        <app-dynamic-goods [goods]="goods"></app-dynamic-goods>
    </ion-list>
    <ion-item button color="light" (click)="addGoods()">
        <ion-icon name="add-circle" margin-end></ion-icon>
        新增營養品
    </ion-item>
</ion-content>
