// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import "../node_modules/ionic2-auto-complete/auto-complete";
app-home, app-second, app-third {
    max-width: 384px;
    margin: 0 auto;
}
button[disabled] div {
    color: red !important;
}
.alert-radio-label.sc-ion-alert-ios {
    text-overflow: inherit;
    white-space: inherit;
    overflow: visible;
}